.Vehicle {
  display: none;
  .VehicleTitle {
    display: none;
  }
  &.Visible {
    display: block;
  }
}

@media (min-width: 768px) {
  .Vehicle {
    display: inline-block !important;
    width: 50%;
    text-align: center;
    .VehicleTitle {
      display: block;
      margin-bottom: 1rem;
      span {
        display: inline-block;
        border: 1px solid rgba(var(--primary-colour-rgb), 0.5);
        background: #fff;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
      }
    }
    &:last-child {
      border: none;
    }
  }
}