.Header {
  padding-top: 1rem;
  img {
    max-height: 75px;
    margin-bottom: 10px;
    &.inova {
      float: left;
    }
    &.costco {
      float: right;
    }
  }
}

@media (min-width: 768px) {
  .Header {
    img {
      max-height: 100px;
    }
  }
}