.Choice {
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  span {
    display: block;
    font-size: 1.1rem;
    color: #999;
  }
  h3 {
    margin: 0;
    font-size: 1.6rem;
  }
}