.Congrats {
  height: 125px;
  overflow: hidden;
  transition: height 200ms ease-out;
  h1 {
    color: var(--primary-colour);
    margin: 0 0 0.25rem 0;
  }
  h2 {
    margin: 0;
    color: #777;
    font-weight: 400;
    margin-bottom: 1rem;
    span {
      color: #444;
    }
  }
  &.Buying {
    height: 0;
  }
}

.BuyOptions {
  height: 0;
  overflow: hidden;
  text-align: center;
  transition: height 200ms ease-out;
  &.Active {
    height: 125px;
    overflow: visible;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
  }
  .Button {
    padding: 0.75rem 2rem;
    vertical-align: middle;
    border-radius: 8px;
    small {
      display: block;
      margin: 0;
    }
    span {
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
  .PhoneCopy {
    margin-top: 1rem;
  }
}

.Home {
  .BuyNow {
    position: absolute;
    bottom: 0;
    right: calc(50% - 175px);
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 70px;
    font-size: 2rem;
    outline: none;
    font-weight: 600;
    background: var(--success);
    line-height: 1.5rem;
    padding-top: 12px;
    p {
      margin: 0;
    }
    span {
      display: block;
      font-size: 1.25rem;
      font-weight: 400;
    }
    &.Disabled {
      background: #999;
      color: rgba(255,255,255,0.5);
      transform: scale(0.7);
      &:hover {
        cursor: not-allowed;
        transform: scale(0.7);
      }
      p {
        filter: blur(1px);
      }
    }
  }
}

.VehiclePicker {
  width: 200px;
  height: 40px;
  line-height: 30px;
  margin: 0 auto 1rem auto;
  text-align: center;
  text-align-last:center;
  background: #fff;
  border: 1px solid rgba(var(--primary-colour-rgb), 0.5);
  border-radius: 5px;
  overflow: hidden;
  &.Select {
    position: relative;
    &:after {
      content: '⌄';
      position: absolute;
      top: 0px;
      line-height: 30px;
      right: calc(50% - 90px);
    }
    select {
      appearance: none;
      font: inherit;
      display: block;
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
    }
  }
}

.PriceWrapper {
  position: relative;
}

.Coverage {
  border: 1px solid rgba(var(--primary-colour-rgb), 0.5);
  position: relative;
  border-radius: 6px;
  transition: all 233ms ease-out;
  padding-top: 2rem;
  max-width: 600px;
  margin: 0 auto;
  &.Faded {
    margin-top: 125px;
    opacity: 0;
  }
}

.Button.Cancel {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.75rem 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  font-size: 0.9rem;
  background: #bbb;
  &:hover {
    transform: translateX(-50%);
    padding-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .VehiclePicker {
    display: none;
  }
}

// probably to delete

#CovTable {
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
  border-spacing: 0;
  margin-top: 1rem;
  tr {
    th {
      border-bottom: 1px solid #ccc;
      font-size: 0.65rem;
    }
    td {
      padding: 0;
      margin: 0;
      text-align: center;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      &:last-child {
        border-right: none;
      }
    }
  }
}