.Picker {
  position: relative;
  height: 120px;
  margin-left: 12%;
  margin-right: 12%;
  margin: 1rem 12% 1rem 12%;
  transition: opacity 300ms ease-out;
  hr {
    position: absolute;
    top: 40px;
    width: 100%;
  }
  &.Faded {
    opacity: 0.25;
  }
}

.PickerButton {
  position: absolute;
  top: 36px;
  width: 100px;
  border: none;
  background: transparent;
  outline: none;
  small {
    display: block;
    padding-top: 10px;
    color: #aaa;
  }
  &.Good { left: -50px }
  &.Better {
    left: 50%;
    transform: translateX(-50%);
  }
  &.Best { right: -50px }
  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    transition: background-color 200ms ease-out;
  }
  &.Active {
    small {
      color: #999;
      font-weight: bold;
    }
    &:before {
      background-color: #999;
      animation: pulse 0.5s normal forwards ease-in-out;
      transform: scale(1.3);
    }
    &:hover {
      &:before {
        transform: scale(1.3);
      }
    }
  }
  &:hover {
    cursor: pointer;
    &:before {
      background-color: #888;
      transform: scale(1.1);
    }
  }
}

@keyframes pulse {
  0%  { transform: scale(1) }
  42% { transform: scale(1.5) }
  80% { transform: scale(1.3) }
}