.OAB {
  .benefit-field {
    margin-bottom: 3.25rem;
    p {
      font-size: 0.9rem;
    }
    strong {
      color: var(--primary-colour);
      .ShowHelp {
        float: right;
        margin-right: 15px;
        background: rgba(var(--primary-colour-rgb), 0.35);
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-top: -5px;
      }
    }
    .field-group {
      label {
        float: right;
        text-align: center;
        width: 24%;
        height: 85px;
        vertical-align: middle;
        margin-left: 1.5%;
        padding: 1.5%;
        background: #f1f1f1;
        border-radius: 5px;
        &.NoIncrease {
          width: 20%;
          float: left;
          margin-left: 0;
        }
        .field-label {
          display: block;
        }
        small {
          display: block;
        }
        &:hover {
          cursor: pointer;
          background: #e1e1e1;
        }
      }
    }
    // .ShowHelp {
    //   float: left;
    //   margin-right: 15px;
    //   background: rgba(var(--primary-colour-rgb), 0.35);
    //   width: 30px;
    //   height: 30px;
    //   border-radius: 15px;
    // }
    .HelpCopy {
      display: block;
      color: #999;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out;
      small {
        display: inline-block;
        margin-bottom: 1rem;
      }
      &.Active {
        max-height: 100px;
      }
    }
  }
}

.field-group.Three {
  label.RegularOption {
    width: 36.5%;
  }
}

.field-group.Two {
  label.RegularOption {
    width: 74.5%;
  }
}