.Button {
  display: inline-block;
  appearance: none;
  text-transform: uppercase;
  border: none;
  background-color: #999;
  color: #fff;
  text-decoration: none;
  transition: transform 167ms ease-out,
              background-color 167ms ease-out;
  &:hover {
    transform: scale(1.06);
    background-color: #777;
    cursor: pointer;
  }
}

.Button.Submit,
.Button.Large.Rounded {
  margin: 0 auto;
  font-size: 1.1rem;
  letter-spacing: 0.75px;
  padding: 10px 15px;
  border-radius: 6px;
}