.Button {
  display: inline-block;
  appearance: none;
  text-transform: uppercase;
  border: none;
  background-color: rgba(var(--primary-colour-rgb), 0.8);
  color: #fff;
  text-decoration: none;
  transition: transform 167ms ease-out,
              background-color 167ms ease-out;
  outline: none;
  &:hover {
    transform: scale(1.06);
    background-color: rgba(var(--primary-colour-rgb), 0.7);
    cursor: pointer;
  }
}

.Button.Submit,
.Button.Large.Rounded {
  margin: 0 auto;
  font-size: 1.1rem;
  letter-spacing: 0.75px;
  padding: 10px 15px;
  border-radius: 6px;
}

.Button.Small.Rounded {
  margin: 0 auto;
  font-size: 0.8rem;
  letter-spacing: 0.6px;
  padding: 6px 10px;
  border-radius: 12px;
}

.Button.Primary {
  background-color: var(--primary-colour);
}

.Button.White {
  background-color: #fff;
  border: 1px solid rgba(var(--primary-colour-rgb), 0.2);
  color: rgba(var(--primary-colour-rgb), 0.8);
}

.Button.Success {
  background-color: var(--success);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}