.Price {
  height: 70px;
  border-bottom: 1px solid #999;
  .BasePrice {
    display: inline-block;
    width: 38%;
    text-align: right;
    .Amount {
      font-size: 50px;
      font-weight: 500;
    }
  }
  .PriceBreakdown {
    display: inline-block;
    width: 57%;
    margin-left: 5%;
    font-size: 80%;
  }
}