.Price {
  background: var(--primary-colour);
  width: 245px;
  height: 245px;
  margin: 0 auto 5rem auto;
  border-radius: 150px;
  text-align: center;
  color: #fff;
  padding-top: 40px;
  animation-name: shadow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  .BasePrice {
    border-bottom: 1px solid #ccc;
    margin: 0 1rem 15px 1rem;
    .Dollar {
      margin-top: 18px;
      display: inline-block;
      font-size: 16px;
      vertical-align: top;
    }
    .Amt {
      display: inline-block;
      font-size: 65px;
      font-weight: 600;
      margin-right: 6px;
    }
    .Per {
      text-align: left;
      display: inline-block;
      font-size: 15px;
      line-height: 15px;
    }
  }
  .PriceBreakdown {
    .PerYear {
      font-size: 1.1rem;
      margin-bottom: 5px;
    }
    .BundlePrice {
      display: inline-block;
      margin-left: 50px;
      margin-right: 50px;
    }
  }
}

.MiniPrice {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3rem;
  background: #fff;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.9);
  .BasePrice {
    float: left;
    .Dollar {
      margin-top: 12px;
      display: inline-block;
      font-size: 16px;
      vertical-align: top;
    }
    .Amt {
      display: inline-block;
      font-size: 50px;
      font-weight: 600;
      margin-right: 6px;
    }
    .Per {
      text-align: left;
      display: inline-block;
      font-size: 15px;
      line-height: 15px;
    }
  }
  .PriceBreakdown {
    font-size: 0.9rem;
    margin-top: 18px;
    float: right;
    width: 48%;
    text-align: right;
  }
}

@keyframes shadow {
  0%   { box-shadow: 0 0 0 0 rgba(var(--primary-colour-rgb), 0.35) }
  100% { box-shadow: 0 0 0 30px rgba(var(--primary-colour-rgb), 0.025) }
}