@import 'utils.scss';
@import 'layout.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555;
  padding-bottom: 3rem;
}

.AddRemoveVehicles {
  text-align: center;
  margin-top: 3rem;
  div {
    border: 1px solid #e1e1e1;
    display: inline-block;
    button {
      appearance: none;
      display: inline-block;
      width: 30px;
      border: none;
      background: #fff;
      color: #999;
      padding: 5px;
      outline: none;
      &:first-child {
        border-right: 1px solid #ccc;
      }
    }
  }
}