.CoverageList {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #888;
  li {
    position: relative;
    display: inline-block;
    width: 45vw;
    height: 45vw;
    vertical-align: top;
    border: 2px solid rgba(var(--primary-colour-rgb), 0.25);
    margin-right: 2.5vw;
    margin-bottom: 2.5vw;
    padding: 1rem;
    border-radius: 8px;
    &:nth-child(even) {
      margin-right: 0;
    }
    h5 {
      margin: 0;
      color: var(--primary-colour);
    }
    span {
      position: absolute;
      bottom: 1rem;
      color: var(--secondary-colour);
      font-weight: 600;
    }
  }
}